@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<script src="https://code.jquery.com/jquery-3.7.0.slim.min.js"
        integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE="
        crossorigin="anonymous"></script>
<script src="~/js/export.js"></script>
<div class="text-center">
    
    <button id="btnexport" runat="server">EXPORT TO EXCEL</button>
</div>
